*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
}
.top-container{
    display: flex;
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}
.top-img-container{
 width: 30%;
 background-color: #1B262C;
 margin: 0 50px 0 0;
 padding: 20px 0;
 border-radius: 5%;
 color: #fff;
 text-align: center;
}
.top-img-container img{
    width: 70%;
    display: block;
    margin: auto;
}
.top-img-container h1{
    margin-top: 10px;
}
.top-img-container h3{
    margin-top: 10px;
}
.top-info{
    padding: 50px;
}
.top-info h1{
    margin: 20px 0;
    padding: 10px;
    color: #0F4C75;
    border-left: 5px solid;
    font-size: 30px;
    border-image: linear-gradient(#CFD0E9, #BBE1FA);
    border-image-slice: 1;
}
.btn{
    text-decoration: none;
    margin: 50px 0;
    background-image: linear-gradient(#CFD0E9, #BBE1FA);
    display: inline-block;
    padding: 15px 35px;
    border-radius: 1.5rem;
    font-weight: 700;
}
.my-stack{
    width: 80%;
    margin: auto;
}
.my-stack h1{
    margin: 100px 0  50px 0;
    text-align: center;
    color: #0F4C75;
    font-size: 30px;
   
}
.stack{
    display: flex;
}
.stack img{
    width: 100%;
    height: 100%;
}
.mongodb, .express, .react, .node{
   width:25%;
   padding: 5px;
   box-shadow: 5px  5px  10px #BBE1FA;
}
.developer-problem{
    display: flex;
    width: 80%;
    margin: auto;
    height: 500px;
    margin-top: 100px;
}
.developer-img{
    width: 50%;
}
.developer-img img{
    width: 100%;
   height: 100%;

}
.developer-info{
    width: 50%;
    padding: 50px 0;
}
footer{
    display: flex;
    height: 100px;
    background-color: #0F4C75;
    color: #BBE1FA;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}